/*individual subject headings */
.textcenter {
  text-align: center;
  color: black;
}

/*body of page*/
body {
  font-family: fantasy;
  background-color: CornflowerBlue;
  color:black;
  margin: 5%;
  padding: 5%;
}

/*header with navigation bar and links*/
a {
  text-decoration: none;
  color: white;
}

.header {
  padding: 20px;
}

.marla {
  color: white;
  font-size: 20px;
  /* font-family: 'Montserrat', sans-serif; */
  border-right: 1px solid black;
  padding-right: 10px;
}

ul.navbar {
  list-style: none;
  border-bottom: 1px solid black;
  max-width: 600px;

}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
}

/*styling all paragraphs*/
p {
  text-indent: 60px
  padding: 2%;
  line-height: 32px;
}

/* profile picture  */
.marlaface {
  height: auto;
  width: 250px;
  margin: 20px;
  float: left;

}

/* paragraphs about my experiences */
#experience p {
  text-indent: 30px
}

/* box for my skills */
.skillsbox {
  width:200px;
  height: auto;
  background-color: Teal;
  color: lightblue;
  margin: 10px;
  text-align: center;
  box-shadow:  3px 3px 4px CadetBlue;
}

.skills li {
  display: inline-block;
}

.skills ul {
  list-style: none;
}

/*box and wrapper for my project pages and links */
.projectbox {
  text-align: center;
  width:50%;
  height:auto;
  background-color: teal;
  color: lightblue;
  display: block;
  margin: 0 auto;
  padding: 20px;
  box-shadow:  5px 5px 2px CadetBlue;
}


.box-wrapper {
  width: 50%;
  float: right;
  margin-bottom: 60px;
}

/* descriptive paragraphs within project box */
.projectbox p {
  text-align: left;
  margin-bottom: 20px;
}
